-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-family: 'Open Sans';
line-height: 22px;
color: #333333;
font-weight: 400;
font-size: 14px;
box-sizing: border-box;
padding: 0px;
display: flex;
flex-wrap: wrap;
margin: 0 -5px;
margin-bottom: 20px;